.tagPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.tagPopup_inner {
  overflow-wrap: break-word;
  max-width: 40vw;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
}
